
{{#results}}
<p>
  {{name}}
</p>
<audio controls id="{{id}}">
  <source src="{{song}}" type="audio/ogg">
  <source src="{{song}}" type="audio/mpeg">
</audio>
<a href="{{song}}" download>Download</a>
<a href="/delete/{{id}}">Delete</a>
{{/results}}
