
{{#if messages.alert}}
    <h3 style="color:blue;">{{messages.alert}}</h3>
{{/if}}
{{#music}}
    <p class='video'>
        {{name}}
    </p>
    <audio class='video' controls id="{{id}}">
  <source src="{{song}}" type="audio/ogg">
  <source src="{{song}}" type="audio/mpeg">
</audio>
    <a class="buttonDownload" href="{{song}}" download>Download</a>
    <a class="buttonDelete" href="/delete/{{id}}">Delete</a>
{{/music}}
