{{#videos}}
    <p class='video'>
        {{name}}
    </p>
    <video class='video' width="320" height="240" controls>
    <source src="{{video}}" type="video/mp4">
    <source src="{{video}}" type="video/ogg">
</video>
    <a class="buttonDownload" href="{{video}}" download>Download</a>
    {{#unless ../auth}}
        <a class="buttonDelete" href="/video/delete/{{id}}">Delete</a>
    {{/unless}}
{{/videos}}
